@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		// font-display: swap // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2');
		font-display: swap;
		/* font-display: optional; - рекомендация от гугла */
	}
}


@include font('Manrope', normal, 300, '../fonts/Manrope-Light.woff2');

@include font('Montserrat', normal, 400, '../fonts/Montserrat-Regular.woff2');
@include font('Montserrat', normal, 500, '../fonts/Montserrat-Medium.woff2');
@include font('Montserrat', normal, 600, '../fonts/Montserrat-SemiBold.woff2');

@include font('OpenSans', normal, 400, '../fonts/OpenSans-Regular.woff2');
@include font('OpenSans', normal, 600, '../fonts/OpenSans-SemiBold.woff2');