.footer {
	
	padding: var(--index) 0;
	background-color: $dark_23;

	&__cols {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 20px;
		flex-wrap: wrap;

		@media (max-width: 768px) {
			gap: calc(var(--index) * 2);
		}

	}

	&__col {

		@media (min-width: 990px) {
			display: flex;
			align-items: center;
			margin-bottom: 0;
		}
	} // /__col

	&__logo {
		display: block;
	}

	.socials {

		display: flex;
		gap: calc(var(--index) * 2);

		&__item {

			width: calc(var(--index) * 2);
			height: calc(var(--index) * 2);
			background-repeat: no-repeat;
			background-position: center;
			background-size: 100%;
			transition: background-image .3s;

			&.tg { background-image: url('../images/dest/socials/tg.svg'); }
			&.vk { background-image: url('../images/dest/socials/vk.svg'); }
			&.dc { background-image: url('../images/dest/socials/dc.svg'); }
			&.yt { background-image: url('../images/dest/socials/yt.svg'); }

			&.tg:hover { background-image: url('../images/dest/socials/tg_active.svg'); }
			&.vk:hover { background-image: url('../images/dest/socials/vk_active.svg'); }
			&.dc:hover { background-image: url('../images/dest/socials/dc_active.svg'); }
			&.yt:hover { background-image: url('../images/dest/socials/yt_active.svg'); }
		
			@media (min-width: 375px) and (max-width: 768px) {
				width: calc(var(--index) * 3);
				height: calc(var(--index) * 3);
			}
		}
	}
}