.footer {
	padding: 70px 0 20px;
	
	background-color: $dark_23;

	&__cols {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		flex-wrap: wrap;
		margin-bottom: 90px;

		@media screen and (max-width: 768px) {
			justify-content: flex-start;
			display: inline-flex;
			gap: 40px;
		}

	}

	&__col {



		@media screen and (min-width: 769px) {
			&:last-child {
				text-align: right;
			}
		}

		@media screen and (max-width: 768px) {
			&:first-child {
				width: 100%;
				margin-bottom: 40px;
			}
		}

		@media (min-width: 990px) {
			display: flex;
			align-items: center;
			margin-bottom: 0;
			gap: 10px;
		}
	}

	&__logo {
		margin-top: 20px;
		margin-bottom: 40px;
		display: block;
	}

	&__address {
		font-family: 'Manrope';
		font-weight: 300;
		font-size: 14px;
		color: $f_address;
	}

	&__col-title {
		font-family: 'Montserrat';
		font-weight: 500;
		font-size: 14px;
		color: rgba(115,122,174,.5);
		margin-bottom: 30px;

		@media (min-width: 990px) {
			margin-bottom: 0;
		}
	}

	&__nav {
		@media (min-width: 990px) {
			display: flex;
			align-items: center;
			margin-bottom: 0;
			gap: 10px;
		}
	}

	&__link {
		display: block;
		margin-bottom: 20px;
		font-family: 'Montserrat';
		font-weight: 400;
		font-size: 16px;
		color: $text_73;
		text-decoration: none;

		&:last-child {
			margin-bottom: 0;
		}

		@media (min-width: 990px) {
			margin-bottom: 0;
		}
	}
}

.copyright {

	display: flex;
	justify-content: space-between;

	@media screen and (max-width: 768px) {
		flex-direction: column;
	}

	&__left {
		font-family: 'Manrope';
		font-weight: 300;
		font-size: 13px;
		color: $text_73;

		@media screen and (max-width: 768px) {
			order: 1;
			margin-bottom: 20px;
		}

	}

	&__right {

		@media screen and (max-width: 768px) {
			margin-bottom: 20px;
		}
	}
}

.socials {
	display: inline-flex;
	gap: 25px;

	&__item {
		width: 22px;
		height: 22px;
		background-repeat: no-repeat;
		background-position: center;
		transition: .3s;

		&.tg { background-image: url('../images/dest/socials/tg.svg'); }
		&.vk { background-image: url('../images/dest/socials/vk.svg'); }
		&.dc { background-image: url('../images/dest/socials/dc.svg'); }
		&.yt { background-image: url('../images/dest/socials/yt.svg'); }

		&.tg:hover { background-image: url('../images/dest/socials/tg_active.svg'); }
		&.vk:hover { background-image: url('../images/dest/socials/vk_active.svg'); }
		&.dc:hover { background-image: url('../images/dest/socials/dc_active.svg'); }
		&.yt:hover { background-image: url('../images/dest/socials/yt_active.svg'); }
	}
}