@import 'burger';


.header {
	min-height: 100vh;
	background-color: $dark_18;

	& > .container {
		max-width: 100%;
		min-height: 100vh;
		padding: calc(var(--index) * .8) 0 0 0;
	    background-image: url('../images/dest/header_bg.png');
	    background-repeat: no-repeat;
	    background-position: right bottom;
	    background-size: calc(var(--index) * 24);

	    @media (orientation: portrait) {
	    	padding: calc(var(--index) * .8) calc(var(--index) * .4) 0 calc(var(--index) * .4);
	    	background-position: calc(100vw / 2.5) calc(100vh / 2);
	  		background-size: calc(var(--index) * 33);
	    }
	}

	& .container {
		max-width: 100%;
	}

	&__content {
		margin-top: calc(var(--index) * 10);
		min-height: calc(var(--index) * 15);

		@media (orientation:portrait) {
			margin-top: calc(var(--index) * 12);
		}
	}

	&__title {
		margin-bottom: calc(var(--index) * 1.5);
		position: relative;
		font-size: calc(var(--index) * 2.5);
		font-weight: 700;
		font-family: 'Montserrat';
		text-transform: uppercase;
		color: $blue_33;

		&::before {
			display: block;
			content: 'Looking for';
			position: absolute;
			top: -70%;
			left: 0;
			font-size: calc(var(--index) * 2);
			font-weight: bold;
			text-transform: initial;
			color: #f9f9f9;
		}
	}

	&__text {
		max-width: calc(var(--index) * 29);
		margin-bottom: calc(var(--index) * 2);

		font-family: 'OpenSans';
		font-weight: 400;
		font-size: calc(var(--index));
	}

	.games {
		display: none;
		margin-bottom: calc(var(--index) * 3.7);

		&__list {
			display: inline-flex;
			gap: 10px;
			flex-wrap: wrap;
		}

		&__item {
			width: calc(var(--index) * 1.2);
			height: calc(var(--index) * 1.2);
			border-radius: calc(var(--index) * .2);
			background-color: $dark_23;
			transition: .3s;

			&:hover {
				background-color: $blue_33;
			}

			&_1 { 
				background-image: url('../images/dest/icons/1.png'); 
				background-position: center;
				background-repeat: no-repeat;
			}
			&_2 { 
				background-image: url('../images/dest/icons/2.png'); 
				background-position: center;
				background-repeat: no-repeat;
			}
			&_3 { 
				background-image: url('../images/dest/icons/3.png'); 
				background-position: center;
				background-repeat: no-repeat;
			}
			&_4 { 
				background-image: url('../images/dest/icons/4.png'); 
				background-position: center;
				background-repeat: no-repeat;
			}
			&_5 { 
				background-image: url('../images/dest/icons/5.png'); 
				background-position: center;
				background-repeat: no-repeat;
			}
			&_6 { 
				background-image: url('../images/dest/icons/6.png'); 
				background-position: center;
				background-repeat: no-repeat;
			}

			&_7 {

				width: 100px;
				display: flex;
				justify-content: center;
				align-items: center;

				font-size: 14px;
				letter-spacing: .5px;
				color: #5e6383;
				font-family: 'OpenSans';
				font-weight: 600;
				text-decoration: none;

				&:hover {
					color: #fff;
				}

			}
		}
	} // games

	&-content__buttons {
		display: flex;
		gap: calc(var(--index) * 0.5);
	}

	&-content__button {
		display: flex;
		justify-content: center;
		align-items: center;
		
		padding: calc(var(--index) * .9) calc(var(--index) * 1.8);
		border-radius: calc(var(--index) * 0.2);
		background-color: $dark_23;
		
		color: $text_73;
		font-size: calc(var(--index) * 0.7);
		font-weight: 600;
		font-family: 'OpenSans';
		text-decoration: none;

		transition: background .3s;

		&:hover {
			background-color: $blue_33;
			color: #fff;
		}

		@media (orientation:portrait) {
			font-size: calc(var(--index));
		}

	}

} // header

.navbar {
	
	background-color: $dark_18;

	& > .container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	/*

		@media (max-width: 990px) {

			&.fixed {
				width: 100%;
				height: 10vh;
				position: fixed;
				top: -10vh;
				left: 0;
				z-index: 1;
				animation: navbarFixed .3s forwards;
			}

			@keyframes navbarFixed {
				100% {
					top: 0px;
				}
			}


			&.rollback {
				width: 100%;
				height: 10vh;
				top: 0;
				left: 0;
				position: fixed;
				z-index: 1;
				animation: navbarRollBack .3s forwards;
			}

			@keyframes navbarRollBack {

				99% {
					position: fixed;
					top: -10vh;
				}

				100% {
					position: relative;
					top: 0;
				}
			}
		 

			@keyframes bodyRollBack {
				0% {
					margin-top: -10vh;
				}

				99% {
					margin-top: -10vh;
				}		

				100% {
					margin-top: 0;
				}
			} 
		} 

	*/

}

.logo {
	
	width: calc(var(--index)* 8);
    height: calc(var(--index)* 3);
    position: relative;
    z-index: 3;
    background: url('../images/dest/logo.svg') no-repeat center;
    background-size: contain;

    @media (orientation: portrait) and (max-width: 767px){
    	width: calc(var(--index) * 10);
    	height: calc(var(--index) * 4.5);
    }
}


.header-menu {

	margin-left: calc(var(--index) * .8);
	margin-right: calc(var(--index) * .8);

	display: flex;
	align-items: center;
	gap: calc(var(--index) * .8);

	&.active {
		top: 0;

		@media (max-width: 767px) and (orientation: portrait) {
			top: -5vh;
		}
	}
	
	@media (max-width: 767px) {
		margin-left: 0;
        position: fixed;
        top: -100vh;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: auto;
        padding: 0;
        background-color: #13151e;
        transition: .2s;
        z-index: 1;
        flex-direction: column;
        justify-content: center;

	}

	@media (max-width: 767px) and (orientation: portrait) {
		height: 105vh;
		top: -105vh;
	}

	&__link {
		
		padding: calc(var(--index) * .8) calc(var(--index) * .16);
		color: $text_73;
		font-weight: 600;
		font-family: 'OpenSans';
		text-decoration: none;
		font-size: calc(var(--index));

		&:hover {
			color: #3f65bd;
		}

		&.active {
			
			color: $blue_33;
			
			@media (max-width: 767px) {
				border-bottom-color: $blue_33; 
			}

			&:hover {
				cursor: default;
			}
		}
		
		@media (max-width: 767px) {
			width: 50%;
			padding-bottom: calc(var(--index)* 2);
        	font-size: calc(var(--index)* 1.7);
			text-align: center;
			border-bottom: calc(var(--index)* .4) solid $dark_1e;
		}
		

		&:last-child {
			padding-right: 0px;
			border-bottom: none;
		}

	}
}