* {
  scrollbar-width: thin;
  scrollbar-color: $text_73 #222;
}

/* для Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 3px;
}
*::-webkit-scrollbar-track {
  background-color: #222;
}

*::-webkit-scrollbar-thumb {
  background-color: $text_73;
  border-radius: 0px;
  border: 3px solid $text_73;
}