$dark_18: #181A28;
$dark_1e: #1E2133;
$dark_23: #23273D;
$dark_2f: #2F3451;
$dark_3b: #3B4165;

$white_e9: rgba(233,235,249,.95);
$white_f9: rgba(249,249,249,.8);

$blue_33: #3378FF;

$green_6c: #6CC880;

$red_f6: #F65164;

$text_73: #737AAE;

$title_73: rgba(115,122,174,.75);

$s1_item: rgba(46,50,88,.5);