*, *::before, *::after {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	user-select: none;
	box-sizing: border-box;

}

@import 'vars';
@import 'fonts';
@import 'scrollbar';

html, body {
	width: 100%;
	height: 100%;
	position: relative;
	font-family: 'OpenSans';
	font-weight: 400;
	color: $text_73;
	background-color: $dark_18;
}

/*
	body.navbar-fixed {
		@media screen and (max-width: 990px) {
			margin-top: -100px;
		}
	}


	body.navbar-rollback {
		animation: bodyRollBack .3s forwards;
	} 

*/

body.lock {
	overflow: hidden;

	@media screen and (min-width: 768px) {
		overflow: auto;
	}
}

:root {
	--index: calc(1vw + 1vh);
	--text: #fff;
	--transition: .2s;
}

/* .content {
	will-change: transform;
} */

.container {
	max-width: 80vw;
	margin: 0 auto;
	padding: 0 var(--index);

	@media (max-width: 1600px) {
		max-width: 1400px;
	}
}

.section {

	//display: none;

	padding: calc(var(--index) * 4) 0 calc(var(--index) * 7);

	@media (max-width: 990px) {
		padding: calc(var(--index) * 4) 0 calc(var(--index) * 5);
	}

	&.active {
		display: block;
	}
}

.section__title {
	margin-bottom: calc(var(--index) * 5);
	font-size: calc(var(--index) * 1.8);
	font-family: 'Montserrat';
	font-weight: 500;
	letter-spacing: .25px;
	color: $white_e9;
	text-align: center;
	text-transform: uppercase;

	@media (max-width: 576px) {
		font-size: calc(var(--index) * 2.5);
	}
}

@import 'header';

@import 'sections/section_1';
@import 'sections/section_2';
@import 'sections/section_3';

@import 'footer';