.s1 {


	min-height: 100vh;
	background-color: $dark_1e;

	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 2%;

		@media (max-width: 900px) {
			justify-content: center;
		}
	}

	&__item {
		width: 30%;
		padding: 2vw 2vh;
		margin-bottom: 7vh;
		transition: var(--transition);
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-radius: 5px;
		align-items: center;
		font-family: 'Montserrat';


		&:nth-child(odd) {

			background-color: #191b29;

			@media (min-width: 577px) and (max-width: 990px) {
				background: transparent;
			}
		}


		&:nth-child(3n+1),
		&:nth-child(3n+5) {
			
			@media (min-width: 577px) and (max-width: 990px) {
				background-color: #191b29;
			}			
		}

		@media (max-width: 990px) {
			width: 49%;
			margin-bottom: 4vh;
		}

		@media (max-width: 576px) {
			height: 44vh;
			width: 90%;
			margin-bottom: 4vh;
		}

		@media (max-width: 990px) and (orientation: landscape) {
			height: 50vh;
		}

		@media (max-width: 576px) and (orientation: landscape) {
			height: 90vh;
		}

		@media (max-width: 990px) and (orientation: portrait) {
			height: 50vh;
		}

		&:hover {
			background-color: $s1_item;
		}

		&-icon {
			width: 5vw;
			height: 5vw;
			display: block;
			margin-bottom: 3vh;
			background-size: 100%;
			background-repeat: no-repeat;
			background-size: 100%;

			&.item-icon-1 { background-image: url('../images/dest/s1_icons/1.svg') }
			&.item-icon-2 { background-image: url('../images/dest/s1_icons/2.svg') }
			&.item-icon-3 { background-image: url('../images/dest/s1_icons/3.svg') }
			&.item-icon-4 { background-image: url('../images/dest/s1_icons/1.svg') }
			&.item-icon-5 { background-image: url('../images/dest/s1_icons/2.svg') }
			&.item-icon-6 { background-image: url('../images/dest/s1_icons/3.svg') }
		
			@media (max-width: 576px) {
				width: calc(var(--index) * 5);
				height: calc(var(--index) * 5);
			}
		}

		&-title {

			margin-bottom: calc(var(--index) * .5);
		    font-weight: 500;
		    line-height: calc(var(--index));
		    letter-spacing: .15px;
		    color: rgba(233, 235, 249, .95);
		    font-size: calc(var(--index));

		} // title


		&-text {

			width: 70%;
			font-family: 'OpenSans';
		    font-weight: 400;
		    font-size: calc(var(--index)* .5);
		    line-height: calc(var(--index)* .8);
		    letter-spacing: .2px;
		    color: #737aae;
		    text-align: center;

		    @media (max-width: 576px) {
		    	width: 49%;
		    }

		}

	} // item

} // s1