.s1 {


	min-height: 100vh;
	background-color: $dark_1e;

	&__list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 2%;

		@media (max-width: 1600px) {
			gap: 10%;
			justify-content: center;
		}

		@media (max-width: 900px) {
			justify-content: center;
		}

		@media (min-width: 769px) and (max-width: 990px) {
			gap: 5%;
		}
	}

	&__item {
		width: 30%;
		padding: calc(var(--index) * 2);
		margin-bottom: 7vh;
		transition: var(--transition);
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-radius: calc(var(--index) * .4);
		align-items: center;
		font-family: 'Montserrat';


		&:nth-child(odd) {

			background-color: #191b29;

			@media (min-width: 769px) and (max-width: 1600px) {
				background: transparent;
			}
		}


		&:nth-child(3n+1),
		&:nth-child(3n+5) {
			
			@media (min-width: 769px) and (max-width: 1600px) {
				background-color: #191b29;
			}			
		}

		@media (max-width: 1600px) {
			width: calc(var(--index) * 20);
			height: calc(var(--index) * 15);
			margin-bottom: calc(var(--index) * 4);
		}

		@media (max-width: 768px) {
			height: 44vh;
			width: 90%;
			margin-bottom: 4vh;
		}


		@media (max-width: 990px) {
			height: 50vh;
		}

		@media (max-width: 768px) and (orientation: landscape) {
			height: 90vh;
		}

		@media (min-width: 769px) and (max-width: 990px) {
			width: 47.5%;
			margin-bottom: calc(var(--index) * 2.5);
		}

		// @media (min-width: 576px) and (max-width: 1600px) {
		// 	height: 40vh;
		// }


		&:hover {
			background-color: $s1_item;
		}

		&-icon {
			width: 5vw;
			height: 5vw;
			display: block;
			margin-bottom: 3vh;
			background-size: 100%;
			background-repeat: no-repeat;
			background-size: 100%;

			&.item-icon-1 { background-image: url('../images/dest/s1_icons/1.svg') }
			&.item-icon-2 { background-image: url('../images/dest/s1_icons/2.svg') }
			&.item-icon-3 { background-image: url('../images/dest/s1_icons/3.svg') }
			&.item-icon-4 { background-image: url('../images/dest/s1_icons/1.svg') }
			&.item-icon-5 { background-image: url('../images/dest/s1_icons/2.svg') }
			&.item-icon-6 { background-image: url('../images/dest/s1_icons/3.svg') }
		

			@media (max-width: 990px) {
				width: calc(var(--index) * 4);
				height: calc(var(--index) * 4);
				margin-bottom: 5vh;
			}

			@media (max-width: 768px) {
				width: calc(var(--index) * 7);
				height: calc(var(--index) * 7);

			}

		}

		&-title {

			margin-bottom: calc(var(--index) * .5);
		    font-weight: 500;
		    line-height: calc(var(--index));
		    letter-spacing: .15px;
		    color: rgba(233, 235, 249, .95);
		    font-size: calc(var(--index));

		  	@media (max-width: 768px) {
		  		margin-bottom: calc(var(--index)* 1.2);
			    line-height: calc(var(--index));
			    font-size: calc(var(--index)* 2);
		  	}

		} // title


		&-text {

			width: 70%;
			font-family: 'OpenSans';
		    font-weight: 400;
		    font-size: calc(var(--index) * .55);
		    letter-spacing: .2px;
		    color: #737aae;
		    text-align: center;


		    @media (max-width: 768px) {
		    	font-size: calc(var(--index)* .9);
    			line-height: calc(var(--index)* 1.25);
		    	width: 70%;
		    }

		    @media (min-width: 769px) and (max-width: 990px) {
		    	font-size: calc(var(--index)* .7);
		    }

		}

	} // item

} // s1